@import "../../styles/variables.scss";

.auth {
  width: 25%;
  border: none;
  border-radius: 8px;
  background-color: $primary-color;
  color: $secondary-color;
  padding: 8px;
  cursor: pointer;
}

.log-out {
  color: $primary-color;
  text-decoration: none;
  padding: 8px 24px;
  background-color: $secondary-color;
  border-radius: 8px;
  cursor: pointer;
}

.create-post{
  width: 10%;
  border: none;
  border-radius: 8px;
  background-color: $primary-color;
  color: $secondary-color;
  padding: 8px;
  cursor: pointer;
}
